* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    outline: none;
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--primary-tcx)
}

h1 {
    text-align:center;
    text-decoration: underline;
    margin-bottom: 1rem;
}

p {
    font-size: 1.3rem;
}

:root {
    --accent-bg:#dcdcdc;
    --primary-bg:#efbdcf;
    --primary-bgg: #e0c9d1;
    --primary-bggc: #f0e5e5;
    --primary-bga:#d797bd;
    --primary-tcx: #4e404e;
    --primary-tci: #4e4c4d;
    --secondary-tcs: #f3f2f2;
    --secondary-bg:#ebebeb;
    --secondary-bga:#a02d72;
    --shadow-color:#9a9898;
    --logo-shadow: #d360b9;
    --xfnts: 1.2rem;
    --brdradius: 10px;
    --stdpad: 8px;
}

body {
    background-color: var(--primary-bggc);
    min-width: fit-content;
}

header {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    justify-items:start;
    align-items: end;
    background: linear-gradient(var(--primary-bga), var(--primary-bgg));
    box-shadow: 0px 1px 5px var(--shadow-color);
    overflow-y:hidden;
    height:100px;
    width:min-content;
    min-width:100%;
    text-wrap: nowrap;
}

nav {
    position:relative;
    right:5%;
    justify-self:start;
    margin-right:auto;
}

header > * {
    vertical-align:baseline;
    display: inline-block;
}

footer {
    padding: 16px;
    background: linear-gradient(var(--primary-bgg), var(--primary-bga));
}

button {
    cursor: pointer;
    user-select: none;
    background-color: var(--primary-bggc);
    border: 1px solid var(--primary-bga);
    border-top-left-radius: var(--brdradius);
    border-top-right-radius: var(--brdradius);
    padding: var(--stdpad);
    min-width: 100px;
    margin: 0 4px;
}

button:active {
    filter:brightness(.95);
}

button:focus {
    background: linear-gradient(var(--primary-bga), var(--primary-bggc));
}

#logo {
    cursor:pointer;
    margin-right: auto;
    width: 150px;
    filter:drop-shadow(1px 1px 2px var(--logo-shadow));
}

#content {
    position:relative;
    padding: 24px;
    z-index:-1;
    background-image: url(../public/images/cloud-background.jpg);
    background-position:center;
    background-repeat:no-repeat;
    filter:grayscale(.6) sepia(.5);
    background-size:cover;
    min-height:100vh;
}

.xfnt {
    font-size: var(--xfnts);
    letter-spacing:1px;
}

.b {
    font-weight:bold
}

.content-card {
    margin: 0 auto;
    border: 4px solid var(--primary-bg);
    background-color: var(--secondary-bg);
    border-radius: var(--brdradius);
    padding: 24px;
    min-width:700px;
    max-width:1000px;
}

.subcard {
    margin: 0 auto;
    border: 2px solid var(--primary-bg);
    border-radius: var(--brdradius);
    padding: 24px;
    max-width: 450px;
}